* {
    font-family: 'Bungee Shade', cursive, 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    width: 700px;
}

h1 {
    font-family: 'Palette Mosaic', cursive;
    font-size: 100px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container p {
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    line-height: 190px;
    font-size: 100px;
    margin: 10px;
    height: 200px;
    width: 200px;
}

.container .empty:hover {
    border: 5px solid yellow;
}

.players {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

.players p {
    display: flex;
    padding: 10px;
    justify-content: center;
    width: 435px;
    margin-left: 135px;
}

#player-x {
    border: 5px solid red;
}

button {
    font-size: 50px;
    margin-left: 155px;
    margin-top: 90px;
    padding: 15px;
    display: none;
}

@media (max-width: 900px) {
    .players {
        font-size: 30px;
        display: block;
    }
}