* {
    font-family: 'Bungee Shade', cursive;
    max-width: 1000px;
}

/* h1 {
    font-family: 'Tourney', cursive;
} */

h1, .players {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container p {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    line-height: 300px;
    font-size: 200px;
    margin: 10px;
}

.container .empty:hover {
    border: 5px solid yellow;
}

.players p {
    display: inline;
    border: 1px solid black;
    padding: 10px;
}
